* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #fff;
}

.cartLogo {
    width: 2.5rem;
    height: 2.5rem;
}

.cartDiv{
    display: flex;
    flex-direction: row;
    
}

body {
    margin: 25px;
    background-image: repeating-linear-gradient( rgb(0, 0, 0),rgb(52, 24, 103),rgb(173, 35, 186));
}

.pp {
    text-align: center;
}